# Ignore every thing expect app
api.php
a.text
cron.php
cron.sh
dev
downloader
errors
favicon.ico
get.php
includes
index.php
index.php.sample
install.php
js
lib
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
mage
media
php.ini.sample
RELEASE_NOTES.txt
shell
skin
var
.htaccess
.htaccess.sample
.idea

# Ignore All App's files and directories
!app
app/

# Remove Module File from ignoe
!app/code/community/Shareino
!app/code/community/Shareino/*/
!app/code/community/Shareino/*
!app/etc/modules/Shareino_Sync.xml
!app/design/frontend/base/default/layout/shareino_front.xml
!app/design/frontend/base/default/template/shareino
!app/design/frontend/base/default/template/shareino/*
!app/design/adminhtml/default/default/layout/shareinoadminhtml.xml
!app/design/adminhtml/default/default/template/shareino
!app/design/adminhtml/default/default/template/shareino/*


!/skin/adminhtml/default/default/images/shareino_logo.png
