# .gitignore
!.gitignore
/*
!app
app/*
!/app/code
/app/code/*
!/app/code/community
/app/code/community/*
!app/code/community/Shareino

!app/design/adminhtml/default/default/layout/shareinoadminhtml.xml
!app/design/adminhtml/default/default/template/shareino
!app/design/frontend/base/default/layout/shareino_front.xml
!app/design/frontend/base/default/template/shareino
!app/etc/modules/Shareino_Sync.xml
!app/design/adminhtml/default/default/template/shareino/sync_operation.phtml