<?xml version="1.0"?>
<config>
    <modules>
        <Shareino_Sync>
            <version>1.1.2</version>
        </Shareino_Sync>
    </modules>
    <global>
        <models>
            <sync>
                <class>Shareino_Sync_Model</class>
                <resourceModel>sync_resource</resourceModel>
            </sync>
            <sync_resource>
                <class>Shareino_Sync_Model_Resource</class>
                <entities>
                    <category>
                        <table>shareino_category</table>
                    </category>
                    <synced>
                        <table>shareino_sync</table>
                    </synced>
                    <configured>
                        <table>shareino_configured</table>
                    </configured>
                </entities>
            </sync_resource>
        </models>
        <resources>
            <sync_setup>
                <setup>
                    <module>Shareino_Sync</module>
                    <class>Shareino_Sync_Model_Resource_Setup</class>
                </setup>
            </sync_setup>
        </resources>
        <helpers>
            <sync>
                <class>Shareino_Sync_Helper</class>
            </sync>
        </helpers>
        <blocks>
            <sync>
                <class>Shareino_Sync_Block</class>
            </sync>
        </blocks>
    </global>
    <frontend>
        <routers>
            <sync>
                <use>standard</use>
                <args>
                    <module>Shareino_Sync</module>
                    <frontName>shareinosync</frontName>
                </args>
            </sync>
        </routers>
        <layout>
            <updates>
                <sync>
                    <file>shareino_front.xml</file>
                </sync>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <sync>
                <use>admin</use>
                <args>
                    <module>Shareino_Sync</module>
                    <frontName>shareinoadmin</frontName>
                </args>
            </sync>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sharein_tab module="sync">
                <title>ShareINO</title>
                <sort_order>72</sort_order>
                <children>
                    <configured module="sync">
                        <title>تنظیمات</title>
                        <sort_order>1</sort_order>
                        <action>shareinoadmin/adminhtml_configured</action>
                    </configured>
                    <products module="sync">
                        <title> کالاهای انتخابی</title>
                        <sort_order>2</sort_order>
                        <action>shareinoadmin/adminhtml_products</action>
                    </products>
                    <synced module="sync">
                        <title>ارسال به شرینو</title>
                        <sort_order>3</sort_order>
                        <action>shareinoadmin/adminhtml_synced</action>
                    </synced>
                </children>
            </sharein_tab>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Shareino_Sync>
                            <title>Sync</title>
                            <sort_order>10</sort_order>
                        </Shareino_Sync>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <web>
                    <file>shareinoadminhtml.xml</file>
                </web>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <sync>
                        <class>sync/observer</class>
                        <method>attr_update</method>
                    </sync>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_after_done>
                <observers>
                    <sync>
                        <class>sync/observer</class>
                        <method>delete_product</method>
                    </sync>
                </observers>
            </catalog_product_delete_after_done>
        </events>
    </adminhtml>
</config>